//fonts
$font: "Segoe UI";

//colors
$dark-blue: #143d6d;
$darker-blue: #103158;
$yellow: #ffb019;
$white: white;
$light-gray: rgba(160, 160, 160, 0.2);
$dark-grey: #a0a0a0;
$blue-grey: #ECF0F3;
$light-blue-gray: #E8ECF1;

* {
  font-family: $font;
}

.nav{
  background-color: $blue-grey;
  .profile-pic{
    height: 50px;
    border-radius:50%;
  }
  .drop{
    a{
      text-decoration: none;
      font-weight: 500;
      color: $dark-blue;
    }
    ul{
      
    }
  }
}

.home-nav{
  position: absolute;
  z-index: 1;
  width: 100%;

  .test{
    width: 100%;
  }
}

.home-page {

  .background{
    height: 100vh !important;

    .header-row{
      height: 100%;
    }

    .yellow-img{
      background-image: url('../public/yellow.png');
      background-size: cover;
    }

    .header-img{
      background-image: url('../public/header.png');
      background-size: cover;
    }

  }

  .header{
    margin-top: 100px;
  }

  .first {
    width: 70%;
    margin: auto;
    font-weight: bold;
    font-size: 80px;
    color: $darker-blue;
    padding-top: 120px;
  }

  .second {
    width: 70%;
    margin: auto;
    font-weight: bold;
    font-size: 80px;
    color: $darker-blue;
    --animate-delay: 0.7s;
  }

  .header-text {
    margin: auto;
    margin-bottom: 20px;
    text-align: start;
    width: 70%;
    font-size: 20px;
    color: $darker-blue;
    font-weight: 500;
    --animate-delay: 1.5s;
  }

  .pros {
    margin-top: 70px;
    h3 {
      text-align: center;
      color: $darker-blue;
      font-size: 32px;
      font-weight: bold;
      margin-top: 10px;
    }
    p {
      color: $darker-blue;
      opacity: 0.8;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
    }
  }

  .phone1 {
    .light-yellow-img {
      width: 100%;
      height: 45%;
      position: absolute;
      left: 0px;
      right: 0px;
      z-index: -1;
    }

    .row {
      margin-top: 20%;
      .text {
        h2 {
          font-size: 60px;
          color: $darker-blue;
          font-weight: bold;
          padding-top: 55px;
        }

        p {
          width: 70%;
          font-size: 20px;
          text-align: center;
          color: $darker-blue;
          font-weight: 500;
          margin-top: 35px;
          line-height: 27px;
        }
      }

      .image {
        margin-top: -15%;
        //margin-top: -198px;
//198
        .phone1-img{
          width: 82%;
        }
      }
    }
  }

  .phone2 {
    .row {
      margin-top: 0px;
      .text {
        h2 {
          text-align: center;
          font-size: 60px;
          color: $yellow;
          font-weight: bold;
          padding-top: 55px;
        }

        p {
          width: 85%;
          font-size: 20px;
          text-align: center;
          color: $darker-blue;
          font-weight: 500;
          margin-top: 35px;
          line-height: 27px;
        }
      }

      .image {
        margin-top: -75px;
      }
    }
  }
}

.home-footer {
  background-color: $blue-grey;
  margin-top: 50px;
  // position: fixed;
  // bottom: 0;
  // width: 100%;
  span {
    font-size: 14px;
    font-weight: 500;
    color: $dark-blue;
  }
  a {
    text-decoration: none;
  }
}

.footer{
  background-color: $blue-grey;
  margin-top: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  span {
    font-size: 14px;
    font-weight: 500;
    color: $dark-blue;
  }
  a {
    text-decoration: none;
  }
}

.auth-pages {
  background-color: $dark-blue;
  height: 100vh;
  width: 100vw;


  .img {
    border-radius: 0px 30px 30px 0px;
    width: max-content;
    height: max-content;
  }

  .cards {
    border: 0;
    border-radius: 30px 0px 0px 30px;
    height: 100%;

    .link {
      color: $yellow;
      font-size: 14px;
      font-weight: 500;
      text-decoration: none;
    }

    .link:hover {
      color: $dark-blue;
    }

    .title {
      margin-top: 20px;
      font-size: 32px;
      color: $dark-blue;
      font-weight: bold;
      text-align: center;
    }

    .inputs {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
      input {
      border-top: 0px;
      border-left: 0px;
      border-right: 0px;
      border-bottom: solid $dark-blue 2px;
      font-weight: 500;
      border-radius: 0;
      }
    }

    .text{
        margin-top: 30px;
    }

    .emails{
      size: 16px;
      font-weight: 500;
      color: $dark-blue;

      .email{
          margin-left: 12px;
      }
    }

    .links {
      text-decoration: none;
      color: $yellow;
      font-size: 18px;
      font-weight: bold;
    }

    .submit {
      margin-top: 70px;
    }

    p {
      color: $dark-blue;
      font-size: 14px;
      font-weight: 500;
      text-decoration: none;
    }

    .verEmail {
      color: $dark-blue;
      font-weight: bold;
      font-size: 18px;
    }
    .verHead {
      color: $dark-grey;
      font-weight: 500;
      font-size: 20px;
    }
    .verEdit {
      color: $yellow;
      font-weight: bold;
      font-size: 18px;
      text-decoration: none;
    }
    .verEdit:hover {
      color: $dark-blue;
    }
    .singleIn {
      width: 70px;
      height: 70px;
      background-color: $light-gray;
      border: 0;
    }
  }
}

.setup-pages {
  background-color: $dark-blue;
  height: 100vh;
  width: 100vw;

  .cards {
    border: 0;
    border-radius: 30px;
    height: 100%;

    .title {
      margin-top: 0px;
      font-size: 30px;
      color: $dark-blue;
      font-weight: bold;
      text-align: center;
    }

    .page-progress {

      width: fit-content;
      .line {
        width: 220px;        
        height: 4px;
        background-color: $yellow;
        opacity: 1;
        border: 0;
      }

      .num{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: solid $yellow 3px;
        color: $yellow;
        font-weight: bold;
        font-size: 24px;
      }
    }

    .inputs {
      width: 620px;

      select{
        width: 250px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: solid $dark-blue 2px;
        border-radius: 0;
        font-weight: bold;
        color: $dark-blue;
        font-size: 14px;
      }

      .dropdown{
        width: 250px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: solid $dark-blue 2px;
      }

      .location-btn{
        width: 250px;
        font-weight: bold;
        color: $dark-blue;
        font-size: 14px;
        border: solid $dark-blue 2px;
      }
    }

    .links {
      text-decoration: none;
      color: $yellow;
      font-size: 18px;
      font-weight: bold;
    }

    p {
      color: $dark-blue;
      font-size: 14px;
      font-weight: 500;
      text-decoration: none;
    }
  }
}

.create-trip{

  .main-container{
    padding: 0 15%;
  }

  .title {
      margin-top: 0px;
      font-size: 50px;
      color: $dark-blue;
      font-weight: bold;
      text-align: center;
  }
    
  .inputs {
      select{
        //width: 300px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: solid $dark-blue 2px;
        border-radius: 0;
        font-weight: 500;
        color: $dark-blue;
        font-size: 20px;
      }

      .dropdown{
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: solid $dark-blue 2px;
      }

      .form-btn{
        width: 100%;
        font-weight: 500;
        color: $dark-blue;
        font-size: 20px;
        border: solid $dark-blue 2px;
      }

      .form-btn:hover {
        color: $white !important;
        background-color: $dark-blue;
      }

      .seat-label{
        color: $dark-blue;
        font-size: 20px;
        font-weight: 500;
        background-color: white;
        border: solid $dark-blue 2px;
      }

      .number{
        text-align: center;
        border: solid $dark-blue 2px;
      }
      .add{
        width: 40px;
        font-weight: bold;
        color: $yellow;
        background-color: $dark-blue;
        border: solid $dark-blue 2px;
      }

    }
    
    .modal-dialog{
      width: 100%;
      .map-modal{
        .modal-title{
          color: $dark-blue;
        }
      }
    }

    .create{
      border: 0;
      background-color: transparent;
    }
  

}

.rides {
  
  .accordion-item{
    border-top: $dark-blue solid 3px;
    border-left: $dark-blue solid 3px;
    border-right: $dark-blue solid 3px;

    .accordion-button{
      color: $dark-blue;
      font-size: 24px;
      font-weight: 700;
      background-color: $light-blue-gray;
    }

    .accordion-button::after{
      background-image: url("../public/arrow-down-1.svg");
    }

    .accordion-body{
      .ride{
        border: $dark-blue solid 1px;
        border-radius: 7px;
        .profile-pic {
          height: 65px;
          border-radius: 50%;
        }

        .details{
          color: $dark-blue;
          font-size: 14px;
          font-weight: 500;
        }

        .name{
          color: $dark-blue;
          font-size: 22px;
          font-weight: 500;
        }
      }
    }

    
  }

  .last-item{
    border-bottom: $dark-blue solid 3px;
    
  }


  
}

.all-rides{

  h1{
    text-align: center;
    color: $dark-blue;
    font-weight: bold;
    font-size: 50px;
  }
  
}

.pickride-page{
  h1{
    text-align: center;
    color: $dark-blue;
    font-weight: bold;
    font-size: 50px;
  }

  .main-container {
    padding: 0 15%;
  }


  .title {
    margin-top: 0px;
    font-size: 50px;
    color: $dark-blue;
    font-weight: bold;
    text-align: center;
  }

  .inputs {
    select {
      border: solid $dark-blue 2px;
      border-radius: 0.375rem;
      font-weight: 500;
      color: $dark-blue;
      font-size: 20px;
    }

    .dropdown {
      border-top: 0px;
      border-left: 0px;
      border-right: 0px;
      border-bottom: solid $dark-blue 2px;
    }

    .form-btn{
      width: 100%;
      font-weight: 500;
      color: $dark-blue;
      font-size: 20px;
      border: solid $dark-blue 2px;
    }

    .form-btn:hover {
      color: $white !important;
      background-color: $dark-blue;
    }

    .pick{
      border: 0;
      background-color: transparent;
    }
  }

  .modal-dialog {
    width: 100%;
    .map-modal {
      .modal-title {
        color: $dark-blue;
      }
    }
  }

  .card{
    width: 100%;
    border: 0;
    .count{
      font-size: 20px;
      font-weight: 500;
      color: $dark-blue;
    }

    .driver{
        border: $dark-blue solid 1px;
        border-radius: 7px;
        margin-bottom: 10px;
        .profile-pic {
          height: 65px;
          border-radius: 50%;
        }

        .details{
          color: $dark-blue;
          font-size: 14px;
          font-weight: 500;
        }

        .name{
          color: $dark-blue;
          font-size: 22px;
          font-weight: 500;
        }

        h6{
          color: $dark-grey;
          font-size: 15px;
          font-weight: 500;
        }
    }

    .pagination{

      .page-link.active-page{
        color: $white;
        background-color: $dark-blue;
      }

      a{
        border-radius: 50%;
        font-weight: bold;
        font-size: 18px;
        color: $dark-blue;
        margin: 0px 5px;
        border: 0;
        padding: 2px 10px;
      }
     
    }
  }

  iframe{
    width: 100%;
    height: 575px;
  }
}

.create-trip {
  .main-container {
    padding: 0 15%;
  }

  .title {
    margin-top: 0px;
    font-size: 50px;
    color: $dark-blue;
    font-weight: bold;
    text-align: center;
  }

  .inputs {
    select {
      border: solid $dark-blue 2px;
      border-radius: 0.375rem;
      font-weight: 500;
      color: $dark-blue;
      font-size: 20px;
    }

    .dropdown {
      border-top: 0px;
      border-left: 0px;
      border-right: 0px;
      border-bottom: solid $dark-blue 2px;
    }

    .location-btn {
      width: 100%;
      font-weight: 500;
      color: $dark-blue;
      font-size: 20px;
      border: solid $dark-blue 2px;
    }

    .seat-label {
      color: $dark-blue;
      font-size: 20px;
      font-weight: 500;
      background-color: white;
      border: solid $dark-blue 2px;
    }

    .number {
      text-align: center;
      border: solid $dark-blue 2px;
    }
    .add {
      width: 40px;
      font-weight: bold;
      color: $yellow;
      background-color: $dark-blue;
      border: solid $dark-blue 2px;
    }
  }

  .modal-dialog {
    width: 100%;
    .map-modal {
      .modal-title {
        color: $dark-blue;
      }
    }
  }
}

.main-page{
  height: calc(100vh - 186.1px);
}


//responsiveness

@media screen and (max-width: 1400px) {
  .auth-pages{
    .container-mini-right{
      background-image: url('../public/auth.svg');
      background-size: cover;
      border-radius: 0px 30px 30px 0px;
    }
    // .container-mini-left{
    //   //width: 100%;
      
    // }
    .cards{
      border-radius: 30px 0px 0px 30px;
    }
    .img{
      display: none;
    }
  }

  .home-page{
    .phone1-img{
      width: 90% !important;
    }
  }
}

@media screen and (max-width: 1370px){
  .home-page{
    .background{

      .header{

        h1{
          width: 80%;
        }

        p{
          width: 80%;
        }
      }

    }
  }
}

@media screen and (max-width: 1200px) {
  .home-page{
    .text {
        h2 {
          font-size: 50px !important;
          color: $darker-blue;
          font-weight: bold;
          padding-top: 50px !important;
        }

        p{
          width: 80% !important;
          font-size: 18px !important;
        }
    }

    .light-yellow-img {
      width: 100%;
      height: 35% !important;
    }
  }
}

@media screen and (max-width: 1190px){
  .home-page{
    .background{

      .header{

        h1{
          width: 90%;
        }

        p{
          width: 90%;
        }
      }

    }
  }
} 

@media screen and (max-width: 1060px){
  .home-page{
    .background{

      .header{

        h1{
          width: 95%;
        }

        p{
          width: 90%;
        }
      }

    }
  }
} 

@media screen and (max-width: 1006px){
  .home-page{
    .background{

      .header{

        h1{
          width: 100%;
        }

        p{
          width: 90%;
        }
      }

    }
  }
} 

@media screen and (min-width: 992px) and (max-width: 1200px){
  .send-request{
    width: 132px;
    height: 35px;
  }
}

@media screen and (min-width: 992px){
  .pick-container{
    display: flex !important;
    justify-content: flex-end !important;
  }
}

@media screen and (max-width: 992px){

  .home-page{
    .background{
    height: 100vh !important;

    .header-row{
      height: 100%;

      .header{

        h1{
          width: 70%;
        }

        p{
          width: 80%;
        }
      }
    }
    

    .yellow-img{
      height: calc(100vh * 0.5) !important;
      background-image: url('../public/yellow.png');
      background-size: cover;

      .header{
        margin-top: 0;

        .first{
          padding-top: 80px;
        }
      }
    }

    .header-img{
      height: calc(100vh * 0.5) !important;
      background-image: url('../public/header.png');
      background-size: cover;
    } 

  }
  .text {
        h2 {
          font-size: 46px !important;
          color: $darker-blue;
          font-weight: bold;
          padding-top: 40px !important;
        }

        p{
          margin-top: 20px !important;
          width: 100% !important;
          font-size: 16px !important;          
          line-height: 24px !important;
        }
    }

    .light-yellow-img {
      width: 100%;
      height: 25% !important;
    }
  }

  .home-nav{
    height: calc(100vh * 0.5);

    .nav-container{
      height: 100%;

      .test{
        height: 100%;
        width: 100vw;
      }
    }

    svg{
      width: 195px;
      height: 90px;
    }
  }
  
  .arrow{
    transform: rotate(90deg);
    margin-bottom: -100px;
  }

  .auth-pages{
    .container-mini-right{
      display: none;
    }
    .container-mini-left{
      width: 80%;
      
    }
    .cards{
      border-radius: 30px 30px 30px 30px;
    }
  }

  .pickride-page{
    .card{
      border: 1px solid white;
      border-radius: 20px 20px 0 0;
    }
  }

}

@media screen and (max-width: 768px) {

  .home-page{
    .background{

      .header{
        margin-top: 0;

        h1{
          font-size: 65px;
          width: 80% !important;
        }

        p{
          width: 80% !important;
        }

        .first{
          padding-top: 60px !important;
        }
      }

    }
    .text {
        h2 {
          font-size: 38px !important;
          color: $darker-blue;
          font-weight: bold;
          padding-top: 30px !important;
        }

        p{
          margin-top: 16px !important;
          width: 100% !important;
          font-size: 16px !important;          
          line-height: 22px !important;
        }
    }

    .light-yellow-img {
      width: 100%;
      height: 25% !important;
    }

    .phone1-img{
      width: 110% !important;
    }
    
  }

  .home-nav{

    svg{
      width: 165px;
      height: 76px;
    }
  }

  .rides{
    a{
      svg{
        width: 133px;
        height: 36px;
      }
    }
  }

  .main-page{
    height: calc(100vh - 215.1px);
  }
}

@media screen and (max-width: 576px) {
  .rides{
    a{
      svg{
        width: 112px;
        height: 30px;
      }
    }
  }

  .main-page{
    svg{
      width: 160px;
      height: 225px;
    }
  }

  .home-page{
    .text {
        h2 {
          text-align: center;
          font-size: 36px !important;
          width: 90%;
          color: $darker-blue;
          font-weight: bold;
          padding-top: 30px !important;
        }

        p{
          margin-top: 20px !important;
          width: 100% !important;
          font-size: 14px !important;          
          line-height: 24px !important;
        }
    }

    .light-yellow-img {
      width: 100%;
      height: 30% !important;
    }
  }
}

@media screen and (max-width: 500px) {
  .home-page{
    .background{

      .header{
        margin-top: 0;

        h1{
          font-size: 57px;
        }

        .first{
          padding-top: 60px !important;
        }
      }

    }
  }

  .home-nav{

    .logo{
      width: 200px;
    }
    svg{
      width: 140px;
      height: 64px;
    }
  }
}

@media screen and (max-width: 480px) {

  .home-page{
    .background{

      .header{
        margin-top: 0;

        h1{
          font-size: 50px;
        }

        .first{
          padding-top: 60px !important;
        }
      }

    }

    .text {

        p{
          margin-top: 12px !important;
          width: 100% !important;
          font-size: 12px !important;          
          line-height: 18px !important;
        }
    }

    .phone1-img{
      width: 120% !important;
    }
  }

  .rides{
    .profile-pic {
      height: 55px !important;
    }
    .details{
      font-size: 10px !important;
      font-weight: bold !important;
    }

    .name{
      color: $dark-blue;
      font-size: 18px !important;
      font-weight: bold !important;
    }
    a{
      svg{
        width: 96px;
        height: 26px;
      }
    }
  }

  .pickride-page{
    h1{
      font-size: 36px;
    }

    .main-container {
      padding: 0 5%;
    }

    .inputs {
      select {
        font-size: 18px;
      }

      .location-btn {
        font-size: 18px;
      }

    }

    .arrow-container{
      padding-left: 0 !important;
    }

    .send-request{
        width: 132px;
        height: 35px;
      }

  }

  .create-trip{
    h1{
      font-size: 36px;
    }

    .main-container {
      padding: 0 5%;
    }

    .inputs {
      select {
        font-size: 18px;
      }

      .location-btn {
        font-size: 18px;
      }

    }

    .arrow-container{
      padding-left: 0 !important;
    }

    .send-request{
        width: 132px;
        height: 35px;
      }

  }

  .logo{
    width: 100%;
  }
  
  .main-page{
    height: calc(100vh - 230.11px);
  }
}

@media screen and (max-width: 420px){
  .home-page{
    .background{

      .header{
        margin-top: 0;

        h1{
          width: 80%;
        }

        p{
          width: 80%;
        }

        .first{
          padding-top: 60px !important;
        }
      }

    }
  }

  .home-nav{
    svg{
      width: 120px;
      height: 55px;
    }
  }
} 

@media screen and (max-width: 370px){
  .home-page{
    .background{

      .header{
        margin-top: 0;

        h1{
          width: 90% !important;
        }

        p{
          width: 90%;
        }

        .first{
          padding-top: 60px !important;
        }
      }

    }
  }
} 

@media screen and (max-width: 1200px) {
  .auth-pages{
    .singleIn{
      margin: 5px;
    }
  }
}
@media screen and (max-width: 550px) {
  .auth-pages{
    .singleIn{
      //margin: 5px;
      margin-left: -15px;
      box-sizing: border-box !important; 
      width: 60px !important;
      height: 60px !important ;
    }
    .input-row-small{
      margin: 0;
      float: left;
    }
  }
}
@media screen and (max-width: 480px) {
  .auth-pages{
  .input-verify{
    width: 100% !important;
  }}
}
